@import "../vars";

.legal {
    width                 : 100%;
    margin                : 0 auto;
    @media (min-width: 770px) {
        width                 : 80%;
    }
}

.terms {
    display               : block;
    margin-bottom: 10px;
    // display               : block;
    @media (min-width: 770px) {
        display               : inline;
    }
}

.terms:not(:first-child) {
    
    &:before {
        content           : "";
        font-weight       : $font-bold;
        padding           : 0;
        color             : $color-silver;
        @media (min-width: 770px) {
            content           : " | ";
            padding           : 0px 10px;
        }
    }
    
}

.terms-link {
    display               : inline-block;
    height                : 16px;
    width                 : auto;

    &:after {

        content           : "";
        display           : block;
        width             : 40%;
        margin            : 0 auto;
        opacity           : 0.9;
        padding-bottom    : 0px;
        border-bottom     : $border-thin solid transparent;
        -webkit-transition: border-color $animation-border-color-terms, width $animation-width-terms;
        -moz-transition   : border-color $animation-border-color-terms, width $animation-width-terms;
        transition        : border-color $animation-border-color-terms, width $animation-width-terms;
    }

    &:hover:after {
        width              : 100%;
        border-bottom-color: #CCCCCC
    }
}