.bg-stellar {
    background-image: url("../../assets/img/stars-pages.jpeg");
    background-position: top;
    background-size: auto;
    background-blend-mode: color;
    background-attachment: fixed;
}