@import "../vars";

.footer {
    height                : auto;
    min-height            : 272px;
    background-color      : #000000;
    background-image      : $img-footer;
    background-position   : center top;
    background-repeat     : no-repeat;
}