@import "../vars";

.subpage-container {
    height          : $height-subpage;

    @media (max-width: 899px) {
        height:148px;
    }

    @media (min-width: 1059px) {
        height    : $height-subpage + 7px;
    }
}

.subpage-link {
    height          : $height-subpage-link;
    background-color: $color-subpage;
    border-top      : $border-grey;
}