@import "../vars";

.signup {
    max-width: 540px;
}

.dialog-logo {
    content          : url("../../assets/img/sw-login.png");
    background-repeat: no-repeat;
    background-size  : 100%;
    width            : 70%;
    height           : auto;
    margin-top       : -5px;
}

.signup-input {
    &:focus {
        background-color: $color-grey;
        border-color    : $color-yellow;
        color           : $color-yellow;
        height          : $btn-height;
    }
}

.f-dialog-hover {
    &:hover {
        text-decoration: underline;
    }
}

.custom-dialog-container .mat-dialog-content {
    padding   : 0px 25px;
    min-height: 50px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.my-material-dialog {
    .mat-dialog-container {
        background-color: $color-dark;
    }
}

