@import "_vars.scss";

.bg-black {
    background-color: #000000;
}

.bg-dark {
    background-color: $color-dark;
}

.bg-grey {
    background-color: $color-grey;
}

.bg-transparent {
    background-color: transparent;
}

.bg-yellow {
    background-color: $color-yellow;
}

.bg-test {
    background-color: yellow;
}

.hr-yellow {
    display   : block;
    height    : 1px;
    border    : 0;
    border-top: 1px solid $color-yellow;
    padding   : 0;
}