@import "_vars.scss";

.bg-black {
    background-color: #000000;
}

.bg-dark {
    background-color: $color-dark;
}

.bg-grey {
    background-color: $color-grey;
}

.bg-transparent {
    background-color: transparent;
}

.bg-test {
    background-color: yellow;
}