@import "vars";

.bg-black {
    background-color: #000000;
}

.bg-dark {
    background-color: $color-dark;
}

.bg-grey {
    background-color: $color-grey;
}

.bg-transparent {
    background-color: transparent;
}

.bg-yellow {
    background-color: $color-yellow;
}

.bg-test {
    background-color: yellow;
}

.bg-grad {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0.4) 10%, rgba(1, 1, 1, 0.7) 50%, rgba(0, 0, 0, 0.4) 90%, rgba(1, 1, 1, 0) 100%);
}

.hr-yellow {
    display   : block;
    height    : 1px;
    border    : 0;
    border-top: 1px solid $color-yellow;
    padding   : 0;
}