@import "_vars.scss";

.btn {
    width             : 200px;
    height            : 40px;
    margin            : 0 0 4% 0;
    text-shadow       : none;
}

.star-hover {
    border-radius     : $border-thick;
    border            : 1px solid transparent;
    -webkit-transition: border $animation-duration;
    transition        : border $animation-duration;

    &:hover {
        border-radius: $border-thick;
        border       : 1px solid $color-yellow;
    }
}