@import "_vars.scss";

.btn {
    width             : $btn-width;
    height            : $btn-height;
    margin            : $btn-margin;
    text-shadow       : none;
}

.star-hover {
    border-radius     : $border-thick;
    border            : $border-thin solid transparent;
    -webkit-transition: border $animation-duration;
    transition        : border $animation-duration;

    &:hover {
        border-radius: $border-thick;
        border       : $border-thin solid $color-yellow;
    }
}