.nav-bar {
    position           : fixed;
    top                : 0;
}

.nav-bar-logo {
    width : 220px;
    height: 130px;
}

.nav-bar-social {
    position: absolute;
    left   : 10px;
    top     : 50px;
}

