@import "_vars.scss";

.nav-bar-tabs {
    height            : $height-tabs-navbar;
    border-top        : $border-grey;
}

.nav-bar-tabs > li {

    &:nth-child(1) {
        border-left   : $border-grey;
    }

    &:nth-child(2) {
        border-left   : $border-grey;
        border-right  : $border-grey;
    }
}

.nav-bar-active {
    border-bottom     : $border-thick solid $color-blue;
    -webkit-transition: border-bottom $animation-duration;
    transition        : border-bottom $animation-duration;
}

.nav-bar-active-starhips {
    background-color  : transparent;
    border-bottom     : $border-thick solid $color-yellow;
    -webkit-transition: border-bottom $animation-duration;
    transition        : border-bottom $animation-duration;
}