@import "_vars.scss";

.banner-container {
    height         : 222px;
}

.banner-link {
    height          : $height-tabs-navbar;
    background-color: $color-banner-sub-nav;
    border-top      : $border-grey;
}