@import "vars";

.page-container {
    width : $page-container-width;
    margin: $page-container-margin;
}

@media (min-width: 1414px) {
    .page-container {
        width: 990px;
    }
}

.page-banner-container {
    width  : 100%;
    margin : 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .page-banner-container {
        width : 90%;
        margin: $page-container-margin-banner;
    }
}