@import "_vars.scss";

// COLOR
.fc-white {
    color: #FFFFFF;
}

.fc-silver {
    color: $color-silver;
}

.fc-yellow {
    color: $color-yellow;
}

.fc-dark-grey {
    color: $color-dark-grey;
}


// WHITE HOVER
.fc-silver-off {
    color             : $color-silver;
    -webkit-transition: color $animation-duration;
    transition        : color $animation-duration;

    &:hover {
        color: #FFFFFF;
    }
}