@import "_vars.scss";

@each $size in $font-sizes {
    $number: index($font-sizes, $size);

    .fs-#{$number} {
        font-size: #{$size}rem;
    }
}

.fs-1 {
    letter-spacing: 0.1rem;
}

.fs-footer {
    font-size: 0.8rem; //0.875
    letter-spacing: 0.08rem;
}

.fs-login-dec {
    font-size: 0.75rem;
}

.fs-social-meta {
    font-size: 1.22rem;
}

.fs-social-twitter {
    font-size: 1.407rem;
}

.fs-social-youtube {
    font-size: 1.47rem;
}