@import "vars";

// COLOR
.fc-white {
    color: #FFFFFF;
}

.fc-silver {
    color: $color-silver;
}

.fc-silver-light {
    color: $color-silver-light;
}

.fc-yellow {
    color: $color-yellow;
}

.fc-red {
    color: red;
}

.fc-magenta {
    color: $color-magenta;
}

.fc-blue {
    color: $color-blue;
}

.fc-dark-grey {
    color: $color-dark-grey;
}


// WHITE HOVER
.fc-silver-off {
    color             : $color-silver;
    -webkit-transition: color $animation-duration, text-shadow $animation-duration;
    transition        : color $animation-duration, text-shadow $animation-duration;
    text-shadow: 0px 0px 00px rgba(255, 255, 255, 0.637);

    &:hover {
        color: #FFFFFF;
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.637);
    }
}

.fc-stellar {
    // box-shadow: 0 0 6px 2px;
    text-shadow: 0px 4px 5px $color-red;
}