@import "vars";

.spinner-container {
    height: 400px;
}

.error404-container {
    height: 400px;
}

.spinner {
    border             : 2px solid rgba(0, 0, 0, 0.1);
    width              : 42px;
    height             : 42px;
    border-radius      : 50%;
    border-bottom-color: $color-white;
    animation          : spin 1s linear infinite;
    box-shadow         : 0px 0px 10px rgb(255, 255, 255);
    filter             : blur(6px)
}

.spinner-img {
    border             : 2px solid rgba(0, 0, 0, 0.1);
    width              : 42px;
    height             : 42px;
    border-radius      : 50%;
    border-bottom-color: $color-magenta;
    animation          : spin 1s linear infinite;
    box-shadow         : 0px 0px 10px rgb(255, 255, 255);
    filter             : blur(2px)
}

.spinner-description {
    border             : 2px solid rgba(0, 0, 0, 0.1);
    width              : 42px;
    height             : 42px;
    border-radius      : 50%;
    border-bottom-color: $color-yellow;
    animation          : spin 1s linear infinite;
    box-shadow         : 0px 0px 10px rgb(255, 255, 255);
    filter             : blur(2px)
}

.spinner-pilots {
    border             : 2px solid rgba(0, 0, 0, 0.1);
    width              : 42px;
    height             : 42px;
    border-radius      : 50%;
    border-bottom-color: $color-blue;
    animation          : spin 1s linear infinite;
    box-shadow         : 0px 0px 10px rgb(255, 255, 255);
    filter             : blur(2px)
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}