// UPPERCASE
.t-upper {
    text-transform: uppercase;
}

.t-capitalize {
    text-transform: capitalize;
}

// CENTER
.t-center {
    text-align: center;
}

.t-justify {
    text-align  : justify;
    text-justify: inter-word;
}