<img src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg" alt="Starship image"
    onerror="this.src='https:\/\/starwars-visualguide.com/assets/img/big-placeholder.jpg'">

<div class="detail-body">
    <p>{{ starship.name }}</p>
    <p>{{ description }}</p>

    <div class="content">
        <p class="grow">Model: {{ starship.model }}</p>
        <p class="grow">Manufacturer: {{ starship.manufacturer }}</p>
    </div>

    <div class="content">
        <p class="grow">Cost in credits: {{ starship.cost_in_credits }}</p>
        <p class="grow">Length: {{ starship.length }}m</p>
    </div>

    <div class="content">
        <p class="grow">Atmospheric Speed: {{ starship.max_atmosphering_speed }}</p>
        <p class="grow">Crew: {{ starship.crew }}</p>
    </div>
    <div class="content">
        <button (click)="goBack()">Go back</button>
    </div>

</div>