<div mat-dialog-content class="signup bg-dark">

    <div class="flex-row flex-justify-end">
        <button style="opacity: 0;"></button>
        <button mat-dialog-close class="btn-laser"></button>
    </div>

    <div class="flex-col flex-center mb-42">
        <img class="dialog-logo">
    </div>

    <h2 class="t-upper t-center f-regular fs-4 fc-yellow mb-30">{{ username }}</h2>

    <div class="mx-20 mb-30">
        <h4 class="fc-silver t-justify fs-3">
            <p><span class="fc-yellow me-10">Email:</span><span>{{ email }}</span></p>
                  <p><span class="fc-yellow me-10">Password:</span><span>{{ passw }}</span></p>
        </h4>
    </div>

</div>