@import "../../../../styles/_vars.scss";

::ng-deep.mat-dialog-container {
    background-color: $color-dark !important;
}

::ng-deep.mat-dialog-content {
    padding: 0px 25px;
    min-height: 50px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
