<ng-container *ngIf="pilots.length > 0">
    <div>
        <h2 class="ff-poller f-italic t-upper fc-yellow fs-3 mt-50 pb-4">{{ 
            pilots.length == 1 ? "pilot": "pilots ("+ pilots.length + ")"
         }}</h2>
        <hr class="hr-yellow pb-50">
        <div *ngFor="let pilot of pilots">

            <div class="pilot-card-container mb-42 mx-4">

                <img class="pilot-img-detail"
                    src="https://starwars-visualguide.com/assets/img/characters/{{getPilotID(pilot.url)}}.jpg"
                    alt="Starship image"
                    onerror="this.src='https:\/\/starwars-visualguide.com/assets/img/big-placeholder.jpg'">

                <div class="pilot-info-container">
                    <div class="ms-20 ps-20 mt-20">
                        <h2 class="ff-poller fc-yellow fs-3">{{pilot.name}}</h2>
                        <div class="flex-row mt-20 mb-10 flex-center">
                            <div>
                                <ng-container *ngIf="pilot.gender != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Gender: </h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.height != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Height: </h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.mass != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Mass: </h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.skin_color != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Skin color: </h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.hair_color != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Hair color: </h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.eye_color != 'unknown'">
                                    <h3 class="fc-white fs-pilot-card mb-4 ff-poller">Eye color: </h3>
                                </ng-container>
                            </div>
                            <div class="ms-20">
                                <ng-container *ngIf="pilot.gender != 'unknown'">
                                    <h3 class="fc-silver f-italic fs-pilot-card mb-4 ff-poller">{{ pilot.gender }}</h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.height != 'unknown'">
                                    <h3 class="fc-silver f-italic fs-pilot-card mb-4 ff-poller">{{ pilot.height }} cm</h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.mass != 'unknown'">
                                    <h3 class="fc-silver fs-pilot-card  ff-poller">{{ pilot.mass }} kg</h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.skin_color !== 'unknown'">
                                    <h3 class="fc-silver f-italic fs-pilot-card mb-4 ff-poller">{{ pilot.skin_color }}</h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.hair_color != 'unknown'">
                                    <h3 class="fc-silver f-italic fs-pilot-card mb-4 ff-poller">{{ pilot.hair_color }}</h3>
                                </ng-container>
                                <ng-container *ngIf="pilot.eye_color != 'unknown'">
                                    <h3 class="fc-silver f-italic fs-pilot-card mb-4 ff-poller">{{ pilot.eye_color }}</h3>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </div>

                <img class="pilot-card-left" alt="">

            </div>
        </div>
    </div>
</ng-container>