<div class="nav-bar w100 f-center bg-black">
    <a href=""><img class="nav-bar-logo" src="assets/img/starwarslogo.svg" alt=""></a>

    <app-social class="nav-bar-social"></app-social>

    <!-- <div class="nav-bar-sign">
        <ul class="flex-row gap-s p-10">
            <li>
                <p class="f-silver-off f-regular fs-6 f-upper">log in</p>
            </li>
            <p class="f-silver">//</p>
            <li>
                <p class="f-silver-off f-regular fs-6 f-upper">sign up</p>
            </li>
        </ul>
    </div> -->
    <app-nav-bar-login></app-nav-bar-login>

    <app-nav-bar-tabs></app-nav-bar-tabs>
</div>