@import "styles/vars.scss";
@import "styles/font-style.scss";
@import "styles/font-size.scss";

* {
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

button {
    padding: $space-l;
    margin: 20px;
    background-color: $color-blue;
    text-transform: uppercase;
    font-size: 1.5rem;
}
