@import "styles/font-style.scss";
@import "styles/font-size.scss";

* {
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
